{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "underscore": "lodash",
          "icons": "./assets/icons",
          "imgs": "./assets/imgs",
          "lotties": "./assets/lotties"
        }
      }
    ]
  ]
}
